<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="C:\git\damienbod\AspNetCoreNlog\Logs\internal-nlog.txt">
    
            
  <targets>
	  <!-- write logs to file  -->
	  <target xsi:type="File" name="allfile" fileName="nlog-all-${shortdate}.log"
			  layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

	  <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
	  <target xsi:type="File" name="ownFile-web" fileName="nlog-own-${shortdate}.log"
			  layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
 
        
    <target name="database" xsi:type="Database">
  <connectionString>Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ExampleDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</connectionString>


  <commandText>
    insert into dbo.Log (
      MachineName, Logged, Level, Message,
      Logger, Callsite, Exception
    ) values (
      @MachineName, @Logged, @Level, @Message,
      @Logger, @Callsite, @Exception
    );
  </commandText>

  <parameter name="@MachineName" layout="${machinename}" />
  <parameter name="@Logged" layout="${date}" />
  <parameter name="@Level" layout="${level}" />
  <parameter name="@Message" layout="${message}" />
  <parameter name="@Logger" layout="${logger}" />
  <parameter name="@Callsite" layout="${callsite}" />
  <parameter name="@Exception" layout="${exception:tostring}" />
</target>
      
  </targets>

  <rules>
	  <logger name="*" minlevel="Trace" writeTo="allfile" />

	  <!--Skip non-critical Microsoft logs and so log only own logs-->
	  <logger name="Microsoft.*" maxlevel="Info" final="true" />
	  <!-- BlackHole without writeTo -->
	  <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
	  
    <logger name="*" minlevel="Trace" writeTo="database" />
  </rules>
</nlog>